name: Build VSIX

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2.3.4
      with:
        submodules: 'true'
        fetch-depth: '0'
    - name: Download artifact - win64
      id: download-win32
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        repo: shader-slang/slang
        file: 'slang-.*-win64\.zip'
        target: "./"
        regex: true
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1
    - name: Copy Slang binaries and Build VSIX
      run: |
        $verName="${{steps.download-win32.outputs.version}}";
        $verName=$verName.SubString(1, ($verName.Length-1));
        Expand-Archive -Path slang-$verName-win64.zip -DestinationPath .\SlangServer
        MSBuild.exe SlangClient.sln -v:m -m -property:Configuration=Release
    - uses: actions/upload-artifact@v3
      with:
        name: slang-vsix
        path: |
          bin/Release/*.vsix