name: Build VSIX

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'
        fetch-depth: '0'
    - name: Add nuget to PATH
      uses: nuget/setup-nuget@v1
    - name: Download artifact - win64
      id: download-win32
      uses: dsaltares/fetch-gh-release-asset@master
      with:
        repo: shader-slang/slang
        file: 'slang-.*-windows-x86_64\.zip'
        target: "./"
        regex: true
    - name: Restore
      run: nuget restore
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1
    - name: Copy Slang binaries and Build VSIX
      run: |
        $verName="${{steps.download-win32.outputs.version}}";
        $verName=$verName.SubString(1, ($verName.Length-1));
        Expand-Archive -Path slang-$verName-windows-x86_64.zip -DestinationPath .\SlangServer
        Copy-Item -Path .\SlangServer\bin\slang.dll .\SlangServer\slang.dll -ErrorAction SilentlyContinue
        Copy-Item -Path .\SlangServer\bin\slang-compiler.dll .\SlangServer\slang-compiler.dll -ErrorAction SilentlyContinue
        Copy-Item -Path .\SlangServer\bin\slangd.exe .\SlangServer\slangd.exe
        MSBuild.exe SlangClient.sln -property:Configuration=Release -property:Platform="Any CPU"
    - uses: actions/upload-artifact@v4
      with:
        name: slang-vsix
        path: |
          bin/Release/*.vsix